html{
    font-size: 12px !important;
    color: #4D4D4D !important;
	font-family: "LucidaGrandeRegular" !important;
}
body{
	margin:0 auto;
	padding: 0;
}
header{
	background-color: #F7F7F7;
	box-shadow: 0px 0px 25px 3px #5a5a5a;
	position: relative;
	padding: 11px 14px 0px 14px;
}
hr{
	border-top: 1px dashed #a0a0a0 !important;
	border-bottom: 1px solid #FFFFFF !important;
	margin-left: -20px !important;
	margin-bottom:20px;
}
h6{
	margin-bottom: 3px !important;
}

div h4{
	width: 100%;
}
a{
	color: inherit !important;
}
a:hover{
	color: inherit;
	text-decoration: underline;
}
footer{
	bottom: 0;
	position: fixed;
	left: 0;
	width: 100%;
	background-color: #808080;
	font-size: 10px;
	color: #F7F7F7;
	padding-top: 15px;
	z-index:1000;
}
footer ul{
	list-style: none;
	float: left;
	margin-top:0px;
}
footer li{
	float: left;
	margin-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #F7F7F7;
	height: 20px;
}
footer a{
	color: #f7f7f7;
	float:left;
}
footer a:hover{
	color:#f7f7f7;
	text-decoration:underline; 
}

/*--------------------------------Helpers------------------------------------------------------*/
.margin-top_17{
	margin-top: 17px;
}
.margin_right-12{
	margin-right: 12px;
}
.blue{
	color: #57ACCE;
}
.orange{
	color: #E68C28;
}
.grey{
	color: #808080;
}
.dark_grey{
	color: #333333;
}
.left{
	float:left;
}
.right{
	float:right;
}
.button_20{
	margin-bottom: 20px;
}
.top_20{
	margin-top: 20px;
}
.button_50{
	margin-bottom: 50px;
}
.display_none{
	display: none !important;
}
.display_block{
	display: block;
}
.right_15{
	margin-right: 15%;
}
.table_row{
	display: table-row;
}
.vertical_aling{
	display:table-cell;
	vertical-align: middle;
}
.pointer{
	cursor:pointer;
}
/*--------------------titulos------------------------------------------------------------------------------*/
.title{
	float: left;
	text-transform: uppercase;
	padding-top:20px;
	color: #808080;
	margin-bottom:10px;
}
.titles{
	font-family: 'HNRegular';
	font-size: 24px;
 }
 .subtitles{
 	font-family:'HNLight';
 	font-size: 17px;
	line-height: 40px;
 }
/*------------------------------------------ Inputs & Selects----------------------------------------------*/
input[name="raz_social"]{
	width: 100%;
}
input[type="radio"]{
	margin: -3px 5px 0 6px;
	-webkit-appearance: checkbox;
}
input[type="text"]:focus{
	border: 2px solid #E68C28;
}
input[type="text"], input[type="password"]{
	height: 30px;
	border: 1px solid #57ACCE;
	color: #808080;
	width:175px;
}
.div_input input[type="radio"], #carga_personalizada input[type="radio"], #denominacion_dpto input[type="radio"], #carga_torres input[type="radio"]{
	margin: -3px 5px 0 6px;
	-webkit-appearance: checkbox;
}
.top_dialog input[type="text"]{
	margin-top: 10px;
	margin-left: 18px;
}
.input_inside input[type="text"]{
	margin-left:0px;
}
#ingr_pers_d2 input[type="text"]{
	margin-top: 10px;
	margin-left: 18px;
	width: 100px;
}
#espacio_comun input[type="text"], #otros_espacios input[type="text"]{
	width: 50%;
	height: 40px;
	margin-top: 19px;
	margin-right: 20px;
}
#uf_cant input[type="text"]{
	border-radius: 0px;
	width: 40px;
	text-align: center;
}
#carga_torres input[type="text"]{
	margin-left: 9px;
}
.dato_input input[type="checkbox"]{
	-webkit-appearance: radio;
	margin-top: 44px;
	width: 14px;
	height: 30px;
	float:left;
}
 #form_agrupacion input[type="checkbox"]{
	margin-right: 10px;
	margin-top: 0px;
}
.terminos input[type="checkbox"]{
	margin-top: -1px;
}

.formulario .formulario_altas select{
	width: 177px;
	margin-bottom: 2px;
	height: 34px;
	border-radius: 0;
	color:#57acce;
}
#form_edificios input[type="checkbox"]{
	margin-top: -6px;
	-webkit-appearance: checkbox;
	margin-left: 10px;
	margin-right: 10px;
}
#form_edificios input[type="checkbox"]:checked{
	color:red;
}
.torre_form select{
	width: 60px !important;
	color:  #57ACCE;
}

.top_dialog select{
	width:70px;
	margin-top: 10px;
	margin-left: 24px;
	margin-right: 50px;
	float: left;
	color: #57ACCE;
	height:30px;
}
#checked input[type="radio"]{
	border: 1px solid #E68C28;
	width: 30px;
	height: 30px;
}

/*-----------------------------------------------------------------------------------------------*/
header img{
	margin-top: 15px;
	margin-bottom: 15px;
}
.content{
	margin: 0 auto;
	max-width: 1000px;
}
.header{
	background-color: #57ACCE;
	color: #ffffff;
	text-transform: uppercase;
	padding: 0px 14px 0px 14px;
}
.main-content{
	position: relative;
	padding: 11px 14px 0px 14px;
}
.menu_pasos{
	height: 34px;
	width: 100%;
}
.pasos {
	text-transform: uppercase;
	border: 1px solid #E68C28;
	color: #E68C28;
	width: 65px;
	text-align:center;
	float: left;
	margin-right: 30px;
	padding: 8px;
}
.paso_grey{
	color: #E6E6E6;
	border: 1px solid #CCCCCC;
}
.paso_done{
	color: #cccccc;
	border: 1px solid #CCCCCC;
	background-color: #E6E6E6;
}
.paso_accesible{
	cursor:pointer;
}

.contactenos{
	float: right;
	margin-top: -25px;
	margin-bottom: 20px;
	cursor:pointer;
}
.input_contact{
	width:240px !important;
}
.input_inside{
	float:right;
	width:177px;
}
.input_contact img{
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
	float:left;
}
.input_contact select{
	width: 120px;
	height: 30px;
	margin-top: 0px;
	margin-left: 0px;
}
.formulario{
	box-shadow: 0px 0px 25px 3px #E6E6E6;
	width: 1007px;
	float: left;
	margin-left: -14px;
}
.notes{
	background-color: #F7F7F7;
	padding: 0px 14px 0px 14px;
	float: left;
	width: 979px;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}
.coments{
	padding-top: 9px;
	width:470px;
}
.coment1{
	color: #808080;
	border-right: 1px solid #E6E6E6;
	float: left;
	padding-bottom:9px;
}
.coment2{
	color: #E68C28;
	float: right;
}
.formulario_altas{
	width: 993px;
	float: left;
	padding: 11px 0px 0px 14px;
	margin-bottom: 20px;
}
.confirmacion{
	height: 139px;
	width: 100%;
	float: left;
	padding-top: 20px;
}
#chat{
	margin-top: -46px;
	margin-left: 30px;
	float: left;
}
.datos{
	width: 967px;
	height: 80px;
}
.datos_large{
	height:100px;
}
.dato_input{
	width: 200px;
	float: left;
	margin-right: 15px;
}
.agregar_foto{
	margin-top: 40px;
	margin-bottom: 30px;
	display: table;
}
.foto_usuario{
	width: 60px;
	height: 60px;
	border: 2px solid #d9dfe6;
	border-radius: 100%;
	margin-top: -13px;
	margin-right: 10px;
}
.error{
	color: red;
	font-weight: bold;
	margin-left: 30px;
	margin-bottom: 20px;
}
.dato_mail{
	width: 300px;
	float: left;
}
.input_large{
	width:280px !important;
}
.input_small{
	width:60px !important;
}
.input_extralarge{
	width:350px !important;
}
#foto{
	width: 100px;
	border: 1px solid black;
	height: 80px;
	float: left;
	margin-left: 70px;
	margin-right: 4px;
}
.small_input{
	width: 80px;
}
.large_input{
	width: 280px;
}
.terminos{
	float: left;
	margin-top: 10px;
	margin-right: 30px;
}
.confirmar{
	float: left;
	cursor:pointer;
}

.legales{
	background-color: #4D4D4D;
	color: #F7F7F7;
	height: 40px;
	width: 100%;
	float: left;
	margin-top: 5px;
	padding-top: 5px;
}
.dato_input.right_15{
	margin-right: 15%;
}
.dato_input.right_30{
	margin-right: 30%;
}
.dato_input.top_40 {
	margin-top: 40px;
}
.dato_input.top_20 {
	margin-top: 20px;
}

#encabezado_consorcio{
	padding: 12px 14px 12px 14px;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	-webkit-box-shadow: 10px 2px 14px 4px #E6E6E6;
	-moz-box-shadow: 10px 2px 14px 4px #E6E6E6;
	box-shadow: 10px 2px 14px 4px #E6E6E6;
	float: left;
	width: 979px;
	background-color: #ffffff;
}
#encabezado_consorcio img{
	margin-top: 5px;
	margin-right: 20px;
	float: left;
}
.nombre_edificio{
	width: 300px;
	float: left;
	border-left: 1px solid #dcdcdc;
	padding-left: 12px;
	border-right: 1px solid #dcdcdc;
	margin-right: 12px;
	margin-top: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #4d4d4d;
}
.franja_gris_claro{
	float: left;
	padding: 12px 14px 0px 14px;
	width: 979px;
	height: 40px;
	background-color: #f7f7f7;
	text-transform: uppercase;
	color: #4d4d4d;
	font-weight: bold;
	font-size: 14px;
}

.franja_gris_claro img{
	margin-top: -6px;
	float: left;
	margin-right: 20px;

}
.bordesDI{
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
}
#form_edificios .small_input{
	width: 90px;
	margin-top: 25px;
}
.dato_input.bordesDI{
	padding-left: 12px;
	padding-top: 20px;
}
.dato_input.sin_form{
	padding-top: 10px;
	height: 40px;
	width: 30%;
	margin-top: 34px;
}
.ing_torres{
	width: 993px;
	border-bottom: 1px solid #E6E6E6;
	height: 90px;
	margin-left: -14px;
	padding-left: 14px;
}
.columna_ingreso h4{
	font-family: 'HNLight';
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	color: #E68C28;
}
.tabs ul{
	list-style: none;
	border-bottom: 2px solid #E68C28;
	height: 37px;
	margin-left: -14px;
	margin-bottom: 0px;
	padding-left:0px;
}
.tabs li{
	background-color: #f1f1f1;
	color: #808080;
	text-transform: uppercase !important;
	padding: 10px;
	float: left;
	margin-left: 15px;
	cursor:pointer;
}
.tabs li.tab_activa{
	background-color: #E68C28;
	color: #F7F7F7;
}
.torre_form{
	margin-left: -14px;
}
.columna_ingreso{
	width: 523px;
	float: left;
}
.div_input{
	padding-left: 14px;
    margin: 0;
    float: left;
    width: 100%;
    min-height: 80px;
    padding-top: 5px;
    border-bottom: 1px solid #F7F7F7;
    background-color: #FFFFFF;
}
.cuantos{
	/*float: left;
	width: 80%;*/
	margin-top: -5px;

}
.torre_form form{
	float: left;
	margin-right: 15px;
	border-right: 1px solid #E6E6E6;
	padding-top:5px;
}
.personalizada{
	float: left;
	margin-left: 240px;
	border-left: 1px solid #E6E6E6;
	padding-left: 12px;
	border-right: none !important;
	margin-top: -30px;
}
.column_dibujo{
	width: 450px;
	margin-bottom: -20px;
	min-height: 1138px;
	padding-top: 20px;
	padding-left: 20px;
	background-color: #FAFAFA;
	-webkit-box-shadow: -3px 0px 11px 0px #E6E6E6;
	-moz-box-shadow: -3px 0px 11px 0px #E6E6E6;
	box-shadow: -3px 0px 11px 0px #E6E6E6;
	float: left;
}
.column_dibujo .ver_torre{
	text-transform: uppercase;
	color: #808080;
	width: 70px;
	height: 30px;
	float: left;
	border: 1px solid #808080;
	text-align: center;
	padding-top: 9px;
	margin-right: 8px;
}
 .ver_torre.activa{
	color: #E68C28;
	border: 1px solid #E68C28;
 }
.column_dibujo .ver_todas{
	text-transform: uppercase;
	color: #E68C28;
	float: right;
	cursor:pointer;
}
.dibujo{
	margin-bottom: 50px;
	min-height: 250px;
}
.encabezado_dibujo{
	float: left;
	width: 400px;
	margin-bottom: 20px;
	margin-left: 15px;
}
.mensaje{
	width: 90%;
	min-height: 350px;
	border: 1px dashed #808080;
	float: left;
	color: #808080;
	padding-top: 20px;
	padding-left: 20px;
}
.top_dialog{
	cursor:initial;
	display:none;
	padding:5px;
	left: 200px;
	background: #fff;
	border: 2px solid #d3d3d3;
	position: absolute; 
	box-shadow: 0px 0px 20px 5px #bbb;
}
.top_dialog header{
	background-color: #57ACCE;
	color: #F7F7F7;
	font-family: 'Helvetica Neue';
	height: 40px;
	font-size: 21px;
	padding-top: 9px;
	padding-left: 9px;
	margin-bottom: 10px;
	box-shadow: none;
}

.content_grey{
	background-color: #EDEDED;
	margin-top: -10px;
	padding-top: 12px;
	overflow: auto;
	min-width: 613px;
	min-height:60px;
}
.content_whitegrey{
	background-color: #F7F7F7;
	margin-top: -12px;
	padding-top: 14px;
	overflow: auto;
	width: 555px;
	min-height:75px;
}
#ingr_pers_d2{
	display: none;
	width: 100px;
}

.cerrar{
	width: 60px;
	float: right;
	min-height: 94px;
	background-color: #E6E6E6;
}
.check{
	float: right;
	margin-right: 10px;
	margin-top: -55px;
	width: 34px;
}
.icono{
	width: 30px;
	height: 24px;
	float: left;
	background-color: #4d4d4d;
	text-align: center;
	border-radius: 100%;
	color: #f7f7f7;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	margin-right: 10px;
}

/*Style Edificio*/
#dialog.demo{
	background-color: white;
}
#edificio.demo.columns{
	background-color: white;
}
.demo .gutter-large.columns .column, .dibujo_edif .columns .column{
	color:#A0A0A0;
}
#carga_personalizada .demo .gutter-large.columns .column.piso{
	border: 1px solid #A0A0A0;
}
.demo .gutter-large.columns .column.piso, .dibujo_edif .columns .column.piso{
	margin:0;
	padding: 0;
	height:30px;
}
#carga_personalizada .gutter-large .column.piso .column.dpto{
	border:1px solid #A0A0A0;
}
.gutter-large .column.piso .column.dpto, .dibujo_edif .column.piso .column.dpto{
	margin: 0;
	padding: 0;
	text-align: center;
	height:29px;
}
#edificio, #uf_cant, #pisos_num, #edificio_uf_prim, #pisos_num_uf_prim, #edificio_todas {
	padding: 0;
	border:none;
}
#dialog {
	padding-top: 0px;
}
#uf{
	width: 40px;
	float: left;
	/*display: none;*/
}
#uf.row.demo{
	margin-left: 25px;
	text-align: center;
}
#person_torres{
	height: 50px;
}
#person_torres ul{
	list-style: none;
}
#person_torres div{
	float: left;
	height: 30px;
	width: 70px;
	border: 1px solid #DCDCDC;
	text-align: center;
	padding-top: 4px;
	margin-right: 30px;
	margin-left: 40px;
	color: #DCDCDC;
	text-transform: uppercase;

}
#person_torres ul:first-child{
	margin-left: 63px;
}
.torre_activa{
	background-color: #E68C28;
	color: #f7f7f7 !important;

}
.nro_piso{
	color: #A0A0A0;
	border: 1px solid #b8b8b8;
	border-radius: 100%;
	width: 25px;
	height: 22px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
	padding-top: 2px;
}
.piso_listo{
	background-color: #E68C28;
	color: #F7F7F7;
}
.cant_listo{
	border:1px solid #E68C28 !important;
	color: #E68C28 !important;
}
#pisos_num .demo .columns{
	border:none;
} 
#edif_dibujo, #edif_dibujo_uf_prim{
	margin-left: 24px;
	margin-right: 25px;
	float:left;
}
#numeracion, #numeracion_uf_prim, .num_class{
	width: 10%;
	float: left;
	border: none;
	margin-top: -3px;
	margin-bottom: 30px;
}
#verTodas_num.num_class{
	margin-top: 70px; 
}
.columna_izquierda{
	float: left;
	width: 425px;
	border: 1px solid #CCCCCC;
	padding-left: 20px;
}
.columna_derecha{
	width: 460px;
	float: right;
	border: 1px solid #CCCCCC;
	padding-left: 20px;
}
.encabezado{
	width: 100%;
	float:left;
	text-transform: uppercase;
	height: 35px;
	margin-top: 10px;
}

/* Style pisos*/
@media only screen and (min-width: 768px) {
.dpto-12 {
    position: relative;
    width: 23px; 
}
.dpto-11 {
    position: relative;
    width: 25.2px; 
}
.dpto-10 {
    position: relative;
    width: 28px; 
}
.dpto-9 {
  position: relative;
  width: 31.3px; 
}
.dpto-8{
  position: relative;
  width: 35.5px; 
}
.dpto-7 {
  position: relative;
  width: 13.6%; 
}
.dpto-6 {
  position: relative;
  width: 48px; 
}
.dpto-5 {
  position: relative;
  width: 58px; 
}
.dpto-4 {
  position: relative;
  width: 73px; 
}
.dpto-3 {
  position: relative;
  width: 98px; 
}
.dpto-2 {
  position: relative;
  width: 148px; 
}
.dpto-1{
	position: relative;
	width: 100%;
}
.largo-total {
  position: relative;
  width: 100%; 
}
.vista_comercios {
	width: 375px;
	float: right;
	margin-top: -15px;
}
#form_agrupacion{
	padding-left: 14px;
	padding-right: 14px;
}
#form_agrupacion .tabs{
	margin-left:-20px;
}

#uf_secundarias .tabs, #uf_secundarias .tab_agrupacion{
	border-bottom: 2px solid #57ACCE;
}

.tab_agrupacion{
	height: 12px;
	border-bottom: 2px solid #57ACCE;
	padding: 5px;
	background-color: #f1f1f1;
	color: #808080;
	text-transform: uppercase !important;
	padding: 10px;
	float: left;
	margin-left: 25px;
}
.tabsec_activa{
	background-color: #57ACCE !important;
	color: #f7f7f7 !important;
	padding: 10px !important;
	margin-top: -10px;
	height: 20px;
}
#uf_primarias .tabs, #uf_primarias .tab_agrupacion{
	border-bottom: 2px solid #E68C28;
}

.tabprim_activa{
	background-color: #E68C28 !important;
	color: #f7f7f7 !important;
	padding: 10px !important;
	margin-top: -10px;
	height: 20px;
}

/*----------Iconos y Logos---------------------*/
.logo{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.logo_close{
	background:url('../images/sprite/img_14.png');
	width:30px;
	height:30px;
	margin-right: 20px;
	float:left;
	margin-top: 23px;
}
.logo_close_done{
	background:url('../images/sprite/img_15.png');
	width:30px;
	height:30px;
	margin-right: 20px;
	float:left;
	margin-top: 23px;
}
.icono_Comercial{
	width: 97px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	background: url('../images/sprite/img_33.png');
	text-align: center;
	padding-top: 20px;
	color: #E68C28;
}
.icono_com{
	width: 50px;
	height: 23px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	background: url('../images/sprite/img_24.png');
	text-align: center;
	padding-top: 6px;
	color: #f7f7f7;
}
.icono_cc{
	width: 22px;
	height: 20px;
	float: left;
	background-color: #57ACCE;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	color:#ffffff;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	z-index: 1000;
	padding-top:2px;
}
.icono_cc_done{
	width: 20px;
	height: 20px;
	float: left;
	background-color: #F7F7F7;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border:1px solid #000000;
	color:#000;
	margin-left: -32px;
	text-align: center;
}
.icono_dc{
	width: 35px;
	height: 20px;
	float: left;
	border-right: 2px solid #57ACCE;
	border-left: 2px solid #57ACCE;
	border-bottom: 2px solid #57ACCE;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #57ACCE;
	z-index: 1000;
}
.icono_dc_done{
	width: 35px;
	height: 20px;
	float: left;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	border-bottom: 2px solid #000000;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	color: #000000;
	margin-left:-45px; 
}
.icono_bau{
	width: 44px;
	height: 20px;
	float: left;
	color: #f7f7f7;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	z-index: 1000;
	background: url('../images/sprite/img_25.png');
	padding-top:10px;
}
.icono_bau_done{
	width: 43px;
	height: 20px;
	float: left;
	margin-right: 10px;
	text-align: center;
	margin-left: -45px;
	padding-top:10px;
	background: url('../images/sprite/img_31.png');
}
.icono_info{
	background: url('../images/sprite/img_26.png');
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 10px;
	margin-bottom:20px;
	margin-top:-6px;
}
.otras_unidades{
	margin-top: 20px;
	float: left;
	width: 95%;
}
.cuerpo{
	width: 940px;
	float: left;
}

.opciones{
	width: 25px;
	height: 21px;
	padding-left: 7px;
	padding-top: 4px;
	border: 1px solid;
	float: left;
	margin-right: 20px;
	text-align:center;
}
.mitad{
	width: 50%;
	float: left;
}
.full{
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.principales{
	width: 170px;
	float: left;
	border-top: 2px solid #E68C28;
	margin-right: 2px;
	border-bottom: 1px solid #808080;
}
.tabla_torre_class{
	width: 55px;
	float: left;
}
.tabla_uf_prim_class{
	width: 113px;
	float: left;
}
.tabla_title{
	text-align: center;
	text-transform: uppercase;
}
.secundarias{
	width: 260px;
	float: left;
	border-top: 2px solid #808080;
	margin-right: 2px;
	border-bottom: 1px solid #808080;
}
.propietarios{
	width: 270px;
	float: left;
	border-top: 2px solid;
	margin-right: 2px;
	border-bottom: 1px solid #808080;
}
.fila_25{
	float: left;
	width: 24.63%;
}
.inquilinos{
	width: 273px;
	float: left;
	border-top: 2px solid;
	border-bottom: 1px solid #808080;
}
.fila_33{
	width: 32.9%;
	float: left;
}
.encabezado_tabla{
	height: 50px;
	color: #F7F7F7;
	text-transform: uppercase;
	text-align: center;
	padding-top: 14px;
	border-right: 1px solid #f7f7f7;
}
.oscuro{
	background-color: #4D4D4D;
}
.celeste{
	background-color: #57ACCE;
}
.gris{
	background-color: #808080;
}
.text_tabla{
	text-align: center;
	color: #333333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.celdas{
	height: 30px;
	border-left: 1px solid #333333;
	padding-top: 5px;
	border-bottom: 1px solid #E6E6E6;
}
.impar_ppal{
	background-color: #F7F7F7;

}
.impar_sec{
	background-color: #eef4f7;
}
.par_sec{
	background-color: #f2f8fb;
}
.impar_inq{
	background-color: #E6E6E6; 
}
.cuerpo_dialog{
	width: 88%;
	float: left;
	padding-bottom: 25px;
	border-bottom: 1px solid #A0A0A0;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 20px;
}
.confirmar_person{
	margin-left: 30px;
	float: left;
}
.excel{
	width: 70px;
	margin-right: 20px;
	margin-top: -16px;
	float:left;
}
.texto{
	width: 235px;
	float: left;
	margin-bottom: 30px;
}
.finalizar{
	text-transform: uppercase;
	color:#57ACCE;
}
.icono_finalizar{
	width:80px;
	margin-bottom: 90px;
}
.number{
	color: #57ACCE;
	border: 1px solid #57ACCE;
	border-radius: 100%;
	width: 20px;
	text-align: center;
	float: left;
	margin-right: 10px;
	height:19px;
}
.nombre_espacio{
	color: #57ACCE;
	margin-bottom: 10px;
	width: 325px;
	float: left;
	word-wrap: break-word;
}
#habilitar_unidadesFuncionales{
	height: 1040px;
}
#habilitar_unidadesOtras{
	height: 720px;
	top: 805px;
}
#habilitar_otrosEspacios{
	height: 324px;
	top: 1200px;
}
.inhabilitado{
	width: 538px;
	background-color: #f7f7f7;
	position: absolute;
	opacity: 0.5;
	margin-top:0px;
}
.deno_torres{
	width: 170px;
	float: left;
}
.inner_deno{
	width: 70px;
	margin-left: 23px;
}
.inner_perso{
	width: 200px;
	float: left;
	margin-left: 15px;
}
.color-picker{width: 20px; float: left;}
#color-picker-container { display:none; position: absolute; top: 0; width: 100%; left: 0; right: 0; height: 100%; text-align: center; background: rgba(0,0,0,0.5); z-index: 15; cursor: pointer; }
#color-picker-container .content { background:#fff; width: 470px; margin: 40px auto; border: 2px solid #e68c28; cursor:initial; height: 250px;}
#color-picker-container .content h4 { background:#f7f7f7; text-transform:uppercase; text-align:center; padding: 14px 0px 14px 0px;; color:#323232; border-bottom:2px solid #e5e5e5; font-family:'HNMedium'; font-size:14px; margin-top: 0px;}
#color-picker-container .colores { padding: 27px 17px 6px 17px; }
#color-picker-container .colores .colorbox { margin:0 13px 23px 13px; float:left; transition:0.2s; outline-color:#e5e5e5; } #color-picker-container .colorbox:hover { outline:4px solid #e5e5e5; }
#color-picker-container .colorbox .square { float:left; height:30px; width:30px; cursor:pointer; } 

/* colores */
.color-01 { color:#7d1e2d; }
.color-01b { color:#873746; }
.bcolor-01 { background-color:#7d1e2d; }
.bcolor-01b { background-color:#873746; }
.border-color-01 { border-color:#7d1e2d !important; }
.color-02 { color:#b04125; }
.color-02b { color:#b4553c; }
.bcolor-02 { background-color:#b04125; }
.bcolor-02b { background-color:#b4553c; }
.border-color-02 { border-color:#b04125 !important; }
.color-03 { color:#c82323; }
.color-03b { color:#c84141; }
.bcolor-03 { background-color:#c82323; }
.bcolor-03b { background-color:#c84141; }
.border-color-03 { border-color:#c82323 !important; }
.color-04 { color:#e15f69; }
.color-04b { color:#e17378; }
.bcolor-04 { background-color:#e15f69; }
.bcolor-04b { background-color:#e17378; }
.border-color-04 { border-color:#e15f69 !important; }
.color-05 { color:#d1428d; }
.color-05b { color:#d25f9b; }
.bcolor-05 { background-color:#d1428d; }
.bcolor-05b { background-color:#d25f9b; }
.border-color-05 { border-color:#d1428d !important; }
.color-06 { color:#70437a; }
.color-06b { color:#7d5587; }
.bcolor-06 { background-color:#70437a; }
.bcolor-06b { background-color:#7d5587; }
.border-color-06 { border-color:#70437a !important; }
.color-07 { color:#2873e1; }
.color-07b { color:#4d85de; }
.bcolor-07 { background-color:#2873e1; }
.bcolor-07b { background-color:#4d85de; }
.border-color-07 { border-color:#2873e1 !important; }
.color-08 { color:#11448e; }
.color-08b { color:#375a96; }
.bcolor-08b { background-color:#375a96; }
.bcolor-08 { background-color:#11448e; }
.border-color-08 { border-color:#11448e !important; }
.color-09 { color:#467869; }
.color-09b { color:#5a8778; }
.bcolor-09 { background-color:#467869; }
.bcolor-09b { background-color:#5a8778; }
.border-color-09 { border-color:#467869 !important; }
.color-10 { color:#12aaa0; }
.color-10b { color:#46b4aa; }
.bcolor-10 { background-color:#12aaa0; }
.bcolor-10b { background-color:#46b4aa; }
.border-color-10 { border-color:#12aaa0 !important; }
.color-11 { color:#399f69; }
.color-11b { color:#50aa78; }
.bcolor-11 { background-color:#399f69; }
.bcolor-11b { background-color:#50aa78; }
.border-color-11 { border-color:#399f69 !important; }
.color-12 { color:#648732; }
.color-12b { color:#789150; }
.bcolor-12 { background-color:#648732; }
.bcolor-12b { background-color:#789150; }
.border-color-12 { border-color:#648732 !important; }
.color-13 { color:#a5916e; }
.color-13b { color:#ac9c80; }
.bcolor-13 { background-color:#a5916e; }
.bcolor-13b { background-color:#ac9c80; }
.border-color-13 { border-color:#a5916e !important; }
.color-14 { color:#d7aa28; }
.color-14b { color:#d7b44b; }
.bcolor-14 { background-color:#d7aa28; }
.bcolor-14b { background-color:#d7b44b; }
.border-color-14 { border-color:#d7aa28 !important; }
.color-15 { color:#e6b482; }
.color-15b { color:#ebb996; }
.bcolor-15 { background-color:#e6b482; }
.bcolor-15b { background-color:#ebb996; }
.border-color-15 { border-color:#e6b482 !important; }

#consorcio_agrup{
  width: 100%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
#consorcio_agrup .nombre_edificio{
  border-right: none;
}
.vista_vertodas{
    background-color: #f7f7f7;
	height: 1330px;
	width: 0;
	overflow:hidden;
	padding-top: 50px;
	position: absolute;
	z-index: 2;
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	right:0; 
	box-shadow: 0px 6px 10px 3px #d5d5d5; 
	transition:0.4s; 
}
.vista_vertodas.visible { width:970px; }

.torre_name{
	float: left;
	height: 30px;
	width: 70px;
	border: 1px solid #DCDCDC;
	text-align: center;
	padding-top: 4px;
	margin-right: 30px;
	margin-left: 40px;
	text-transform: uppercase;
	background-color: #E68C28;
	color: #f7f7f7;
}
.hide_vertodas{
	float:left;
	margin-left:10px;
	cursor: pointer;
}
.bloque_torre{
	width: 440px;
	float: left;
	min-height: 610px;
}
.inner_all_right{
	width: 48%;
	float: left;
}
.inner_all_right .funcionales{
	margin-left:15px;
}
.inner_all_right .linea_horizontal{
	margin-left:12px;
}
.inner_all_left{
	width: 445px;
	float: left;
}
.dibujo_torre{
	width: 300px;
	height: 350px;
	border: 2px solid #E68C28;
	background-color: #ffffff;
	margin-left: -100px;
	margin-top: 70px;
	margin-right: 30px;
	float: left;
}
#edif_dibujo_todas{
	width: 300px;
	float: left;
	margin-left: -100px;
	margin-top: 70px;
	margin-right: 30px;
	float: left;
}
.linea_vertical{
	border: 1px solid #e6e6e6;
	height: 550px;
	float: left;
}
.funcionales{
	width: 450px;
	float: left;
	margin-top: 20px;
	margin-left: -40px;
	height: 120px;
}
.bloque{
	float: left;
	text-align: center;
	width: 70px;
}
.bloque img{
	width: 30px;
	margin-bottom: 10px;
}
.cant{
	color: #E68C28;
	font-weight: bold;
}
.bloque_right{
	margin-left: 80px;
}
.linea_horizontal{
	width: 100%;
	border: 1px solid #E6E6E6;
	float: left;
	margin-left: -35px;
	margin-top: 20px;
	margin-bottom: 25px;
}
.inner_all{
	height: 1330px;
	float: left;
	width: 95%;
}
.help{
	width: 40px;
height: 29px;
float: left;
}
.flecha{
	top: 130px;
	left: 851px;
	position: absolute;
	z-index: 100;
	display:none;
}
.ver_terminos{
	text-decoration:underline;
	cursor:pointer;
}
.dialogs, .dialog_modal {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	height: 1560px;
	background: rgba(0,0,0,0.5);
	z-index: 15;
}
.dialog_modal .content{
	background: #fff;
	width: 700px;
	margin: 40px auto;
	border: 2px solid #e68c28;
	cursor: initial;
	height: 515px;
	padding-left:20px;
}
.dialog_modal .content h4{
	background: #f7f7f7;
	text-transform: uppercase;
	padding: 14px 0px 14px 20px;
	color: #57ACCE;
	border-bottom: 2px solid #e5e5e5;
	font-family: 'HNLight';
	font-size: 14px;
	margin-top: 0px;
	margin-left:-20px;
}
.dialog_modal .content .body{
	padding-right:20px;
	word-break: break-word;
}
.dialog_modal .terminos{
	border-top: 2px solid #e5e5e5;
	width: 689px;
	margin-left: -19px;
	padding-top:20px;
}
.dialog_modal .terminos img{
	float: left;
	margin-left: 370px;
	margin-top: -26px;
}
.datos_estructural{
	width:550px;
	height:90px;
}

/* help_hover */
.help_hover { position:absolute; font-size:11px; color:#fff; border:1px solid #fff; background:#323232; font-family: 'LucidaGrandeRegular'; text-align:center; padding:8px 10px; white-space: nowrap; box-shadow: 0px 0px 8px 3px #d5d5d5; display:none; top:-38px; z-index:99; margin-left: -25px; text-transform: none;}
.help_hover img { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; bottom: -9px; }
.help_hover.aside img { left: -9px; margin: 0; bottom: 11px; right: initial; }
.pasos:hover .help_hover { display:block; }
.confirmar .help_hover{position:relative; top:-81px; margin-left: -15px;}
.confirmar:hover .help_hover { display:block; }
.confirmar .help_hover.aside{top:-37px; left:60px;}
#confirmar_paso4 .help_hover {top: -128px; left: 110px;}
.color-picker:hover .help_hover { display:block; }
.color-picker .help_hover.aside{top: 185px;left: 448px;}
#uf_cant .help:hover .help_hover{display: block;}

#uf_cant .help .help_hover{left: -70px;top: -47px;}
.help_dpto .help_hover{top:-50px;}
.help_dpto:hover .help_hover{display: block;}
.deno_torres .help_hover{top: 90px; left: 248px;}
.deno_torres:hover .help_hover{display: block;}
.confirmar_person .help_hover{top: 532px;left: 45px;}
.confirmar_person:hover .help_hover{display: block;}

.help:hover .help_hover{display: block;}
.help .help_hover{top: 280px;left: 340px;}
.help .help_hover.aside img{bottom: 21px;}
.hide_vertodas .help_hover{top: 3px;left: 23px;}
.hide_vertodas:hover .help_hover{display: block;}

#flotante{position:absolute; font-size:11px; color:#fff; border:1px solid #fff; background:#323232; font-family: 'LucidaGrandeRegular'; text-align:center; padding:8px 10px; white-space: nowrap; box-shadow: 0px 0px 8px 3px #d5d5d5; display:none; top:-38px; z-index:99; margin-left: -25px; text-transform: none;}
.dibujo_edif{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5em;
}
.dibujo_edif .column, .dibujo_edif .columns{
	border: 1px solid #E68C28;
	font-size: 13px;
	font-weight: bold;
	text-indent: 3px;
	padding-top: 8px;
	color: #444;
	padding-bottom: 8px;
}
.column, .columns{
	position: relative;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	float: left;
}
.vista_comercios p{
	font-weight:bold;
}
#form_agrupacion .tabs{
	height: 32px;
	margin-bottom: 20px;
}
.flecha_agrup{
	float: left;
	position: absolute;
	top: 440px;
	left: 450px;
}
#agrup_locales_comerciales .vista_comercios{
	float: left;
	width: 180px;
	margin-left: 25px;
}
.ui-draggable{
	cursor: pointer;
}
#tab_content .div_input{
	width: 523px;
}
#tab_content .franja_gris_claro{
	width: 509px;
}
