@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
body{
	font-size: 13px;
	font-family: arial;
}
form{
	width: 14%;
}
.formulario select{
	width:65px;
	margin-top: 10px;
	margin-left: 24px;
}
/*helpers*/
.border_bottom{
	border-bottom: 1px solid grey;

}
.border_top{
	border-top: 1px solid grey;
}
.display_none{
	display: none;
}
.display_block{
	display: block;
}
/*-------*/
.bottom{
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid black;
	margin-top: 12px;
	width: 155px;
	margin-left: 100px;
}
.div_input.height_120{
	height: 120px;
}
.content_grey{
	background-color: #E6E6E6;
	margin-top: -10px;
	padding-top: 12px;
	overflow: auto;
}
.content_whitegrey{
	background-color: #F7F7F7;
	margin-top: -12px;
	padding-top: 14px;
	overflow: auto;
	width: 550px;
}
/*-----------------------*/
.colum_dibujo{
	/*float: right;
	width: 50%;
	padding-left: 102px;
	padding-top: 53px;*/
	float: right;
	width: 30%;
	padding-top: 53px;
	margin-right: 57px;
}
#dib_edif{
	margin-bottom: 50px;
	min-height: 250px;
}
.formulario form{
	margin-top: 8px;
	float: left;
	border-right: 1px solid grey;
	margin-right: 15px;
}
.input{
	width: 20%;
	display: block;
	margin-left: 273px;
	margin-top: -23px;
}
.main-content{
	width: 100%;
	height: 800px;
}
.formulario{
	width: 50%;
	height: 100%;
	float: left;
	padding-top: 30px;
}
.dibujo{
	width: 70%;
	height: 100%;
}
.dibujo .row{
	background-color: white;
}
.div_input{
	padding-left: 33px;
    margin: 0;
    float: left;
    width: 100%;
    min-height: 80px;
    padding-top: 5px;
}

/*Style Edificio*/
#dialog.demo{
	background-color: white;
}
#edificio.demo.columns{
	background-color: white;
}
.demo .gutter-large.columns .column.piso{
	margin:0;
	padding: 0;
}
.gutter-large .column.piso .column.dpto{
	margin: 0;
	padding: 0;
}
#edificio, #uf_cant, #pisos_num {
	padding: 0;
}
.cuantos{
	display: block;
	margin-top: -6px;
}
.cuantos input[type="text"]{
	margin-left: 15px;
	margin-top: 8px;
}
.cuantos img{
	margin-top: -2px;
	margin-left: -29px;
}
.div_input input[type="radio"], #nombre_dpto input[type="radio"], #denominacion_dpto input[type="radio"]{
	margin: -3px 5px 0 6px;
	-webkit-appearance: checkbox;
}
.div_input input[type="text"]{
	width: 76px;
	height: 30px;
}
#dialog {
	padding-top: 0px;
}
#uf{
	width: 10%;
	float: left;
	/*display: none;*/
}
#uf.row.demo{
	margin-left: 0px;
}
#edif_dibujo{
	margin-left: 35px;
	width: 72%;
	float:left;
}
#numeracion{
	width: 10%;
	float: right;
	border: none;
}
/* Style pisos*/
@media only screen and (min-width: 768px) {
.dpto-12 {
    position: relative;
    width: 8.33333%; 
}
.dpto-11 {
    position: relative;
    width: 9.090909%; 
}
.dpto-10 {
    position: relative;
    width: 10%; 
}
.dpto-9 {
  position: relative;
  width: 11.11111%; 
}
.dpto-8{
  position: relative;
  width: 12.5%; 
}
.dpto-7 {
  position: relative;
  width: 14.28571%; 
}
.dpto-6 {
  position: relative;
  width: 16.66666%; 
}
.dpto-5 {
  position: relative;
  width: 20%; 
}
.dpto-4 {
  position: relative;
  width: 25%; 
}
.dpto-3 {
  position: relative;
  width: 33.33333%; 
}
.dpto-2 {
  position: relative;
  width: 50%; 
}
.dpto-1{
	position: relative;
	width: 100%;
}
.largo-total {
  position: relative;
  width: 100%; 
}
#nombre_dpto, #denominacion_dpto{
	padding:5px;
	display: none;
}
#denominacion_dpto header{
	background-color: #57ACCE;
	color: #F7F7F7;
	font-family: 'Helvetica Neue';
	height: 40px;
	font-size: 21px;
	padding-top: 9px;
	padding-left: 9px;
	margin-bottom: 10px;
}
#nombre_dpto select, #denominacion_dpto select{
	width:50px;
	margin-top: 10px;
	margin-left: 24px;
	margin-right: 124px;
	float: left;
}
#ingr_pers_d2{
	display: none;
	width: 100px;
	margin-left: 400px;
}
#ingr_pers_d2 input[type="text"]{
	border: 1px solid #57ACCE;
	margin-top: 10px;
	height: 30px;
	margin-left: 18px;
	width: 100px;sx
}
.cerrar{
	width: 60px;
	float: right;
	min-height: 94px;
	background-color: #E6E6E6;
}
#checked{
	float: right;
	margin: auto;
	margin-right: 10px;
	margin-top: -55px;
	border: 3px solid #E68C28;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
}
#checked input[type="radio"]{
	border: 1px solid #E68C28;
	width: 30px;
	height: 30px;
}
#nombre_dpto header{
	background-color: #E6E6E6;
	color: #57ACCE;
	font-family: 'Helvetica Neue';
	height: 40px;
	font-size: 21px;
	padding-top: 9px;
	padding-left: 9px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#nombre_dpto.content_grey .content_whitegrey{
	background-color: #FFFFFF;
}
.logo_com{
	width: 50px;
	height: 50px;
	float: left;
}
.logo_cc{
	width: 50px;
	height: 50px;
	float: left;
}
.logo_cd{
	width: 50px;
	height: 50px;
	float: left;
}
.logo_bau{
	width: 50px;
	height: 50px;
	float: left;
}
.icono_com{
	width: 20px;
	height: 20px;
	float: left;
}
.icono_cc{
	width: 20px;
	height: 20px;
	float: left;
}
.icono_dc{
	width: 20px;
	height: 20px;
	float: left;
}
.icono_bau{
	width: 20px;
	height: 20px;
	float: left;
}
form.denom_personal{
	float: right;
	margin-right: 242px;
	border-left: 1px solid grey;
	padding-left: 12px;
	border-right: none;
	width: initial;
}
.vista_vertodas{
	background-color: #f7f7f7;
	position: absolute;
	opacity: 0.5;
	height: 941px;
	left: 997px;
	width: 1%;
	float: right;
}
}
