@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue, Italic';
    src: url('../fonts/HelveticaNeueItalic.ttf') format('truetype'),
    font-weight: italic;
    font-style: italic;
}

html, body { height: 100%; width: 100%; }
header{
	background-color: #F7F7F7;
	height: 10%;
}

/*--------------------------------Helpers------------------------------------------------------*/
.margin-top_20{
	margin-top: 20px;
}
.margin_right-12{
	margin-right: 12px;
}
.blue{
	color: #57ACCE;
}
.orange{
	color: #E68C28;
}
.grey{
	color: #808080;
}
.left{
	float:left;
}
.button_20{
	margin-bottom: 20px;
}
.top_20{
	margin-top: 20px;
}
.top_40{
	margin-top: 40px;
}
.button_50{
	margin-bottom: 50px;
}
.display_none{
	display: none;
}
.display_block{
	display: block;
}
.right_15{
	margin-right: 15%;
}
.titles{
	font-family: 'Helvetica Neue, Italic';
	text-transform: uppercase;
	font-style: italic;
}
/*------------------------------------------ Inputs & Selects----------------------------------------------*/
input[name="raz_social"]{
	width: 100%;
}
.dato_input input[type="radio"], #nombre_dpto input[type="radio"], #denominacion_dpto input[type="radio"]{
	margin: -3px 5px 0 6px;
	-webkit-appearance: checkbox;
}
.dato_input input[type="text"],.dato_mail input[type="text"]{
	height: 30px;
	margin-bottom: 0px; 	
}
.dato_input input[type="checkbox"]{
	-webkit-appearance: radio;
	margin-top: 20px;
	width: 14px;
	height: 30px;
}
.dato_mail input[type="password"]{
	height: 30px;
	margin-bottom: 0px;
}
.terminos input[type="checkbox"]{
	margin-top: -1px;
}

.formulario_altas select{
	width: 100%;
	margin-bottom: 2px;
	height: 80%;
}
#form_edificios input[type="checkbox"]{
	margin-top: -3px;
	-webkit-appearance: checkbox;
	margin-left: 10px;
	margin-right: 10px;
}
.div_input input[type="radio"], #nombre_dpto input[type="radio"], #denominacion_dpto input[type="radio"]{
	margin: -3px 5px 0 6px;
	-webkit-appearance: checkbox;
}
.formulario select{
	width: 8%;
	color:  #57ACCE;
}
#ingr_pers_d2 input[type="text"]{
	border: 1px solid #57ACCE;
	margin-top: 10px;
	height: 30px;
	margin-left: 18px;
	width: 100px;sx
}
.top_dialog select{
	width:70px;
	margin-top: 10px;
	margin-left: 24px;
	margin-right: 100px;
	float: left;
	color: #57ACCE;
}
#checked input[type="radio"]{
	border: 1px solid #E68C28;
	width: 30px;
	height: 30px;
}
/*-----------------------------------------------------------------------------------------------*/
header img{
	height: 50%;
}
.header{
	background-color: #57ACCE;
	width: 100%;
	height: 50%;
	font-family: 'Helvetica Neue';
	color: #ffffff;
	text-transform: uppercase;
	font-size: 37px;
	padding-top: 10px;
	padding-left: 20px;
}
.main-content{
	background-color: #F7F7F7;
	padding-top: 1%;
	position: relative;
	height: 80%;
}
.menu_pasos{
	height: 34px;
	width: 100%;
}
.pasos {
	text-transform: uppercase;
	border: 1px solid #E68C28;
	color: #E68C28;
	width: 100px;
	float: left;
	height: 34px;
	margin-left: 29px;
	padding: 8px;
	padding-left: 24px;
}
.paso_grey{
	color: #E6E6E6;
	border: 1px solid #CCCCCC;
}
.paso_done{
	color: #cccccc;
	border: 1px solid #CCCCCC;
	background-color: #E6E6E6;
}
.title{
	float: left;
	background-color: #F7F7F7;
	text-transform: uppercase;
	font-style: italic;
	padding-left: 30px;
	width: 100%;
	color: #808080;
}
.notes{
	height: 8%;
	padding-left: 30px;
	background-color: #F7F7F7;
	float: left;
	width: 100%;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	-webkit-box-shadow: 10px 2px 14px 4px #E6E6E6;
	-moz-box-shadow: 10px 2px 14px 4px #E6E6E6;
	box-shadow: 10px 2px 14px 4px #E6E6E6;
}
.coment1{
	color: #808080;
	height: 100%;
	padding-top: 9px;
	padding-left: 20px;
	border-right: 1px solid #E6E6E6;
	width: 40%;
	float: left;
}
.coment2{
	color: #E68C28;
	padding-top: 9px;
	margin-right: 18%;
	width: 40%;
	float: right;
}
.formulario_altas{
	width: 100%;
	height: 70%;
	overflow: scroll;
	overflow-x: hidden;
	float: left;
	padding-left: 30px;
	background-color: #FFFFFF;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	-webkit-box-shadow: 10px 2px 14px 4px #E6E6E6;
	-moz-box-shadow: 10px 2px 14px 4px #E6E6E6;
	box-shadow: 10px 2px 14px 4px #E6E6E6;
}
.dato_input{
	width: 20%;
	float: left;
	margin-right: 3%;
	margin-top: 20px;
}
.dato_mail{
	width: 27%;
	float: left;
	margin-right: 3%;
}
.dato_razonSoc{
	float: right;
	width: 88%;
}

#foto{
	width: 100px;
	border: 1px solid black;
	height: 80px;
	float: left;
	margin-left: 70px;
	margin-right: 4px;
}
.small_input{
	width: 5%;
}
.large_input{
	width: 30%;
}
.terminos{
	float: left;
	padding-left: 30px;
	margin-top: 10px;
}
.confirmar{
	width: 50px;
	height: 34px;
	background-color: #E68C28;
	float: left;
	margin-top: 10px;
	margin-left: 60px;
}
.footer{
	bottom: 0;
	position: relative;
	left: 0;
}
.legales{
	background-color: #4D4D4D;
	color: #F7F7F7;
	height: 40px;
	width: 100%;
	float: left;
	margin-top: 5px;
	padding-top: 5px;
}
.dato_input.right_15{
	margin-right: 15%;
}
.dato_input.right_30{
	margin-right: 30%;
}
.dato_input.top_40 {
	margin-top: 40px;
}
.dato_input.top_20 {
	margin-top: 20px;
}

#encabezado_consorcio{
	padding-left: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	-webkit-box-shadow: 10px 2px 14px 4px #E6E6E6;
	-moz-box-shadow: 10px 2px 14px 4px #E6E6E6;
	box-shadow: 10px 2px 14px 4px #E6E6E6;
	float: left;
	width: 100%;
	background-color: #ffffff;
}
#encabezado_consorcio img{
	width: 20px;
	height: 20px;
	margin-right: 20px;
	float: left;
}
#nombre_edif {
	width: 20%;
	float: left;
	border-left: 1px solid grey;
	padding-left: 12px;
	border-right: 1px solid grey;
	margin-right: 12px;
}
.franja_gris_claro{
	float: left;
	width: 100%;
	height:50px;
	background-color: #f7f7f7;
	text-transform: uppercase;
	padding-top: 12px;
	padding-left: 30px;
}

.franja_gris_claro img{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 20px;

}
.bordesDI{
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
}
#form_edificios{
	width: 100%;
}
#form_edificios .small_input{
	width: 7%;
}
.dato_input.bordesDI{
	padding-left: 12px;
	padding-top: 20px;
}
.dato_input.sin_form{
	padding-top: 10px;
	height: 40px;
	width: 22%;
	margin-top: 34px;
}
.ing_torres{
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
	height: 90px;
	margin-left: -30px;
	padding-left: 30px;
}
.columna_ingreso{
	width: 65%;
	background-color: #f7f7f7;
	float: left;
}
.div_input{
	padding-left: 33px;
    margin: 0;
    float: left;
    width: 100%;
    min-height: 80px;
    padding-top: 5px;
    border-bottom: 1px solid #808080;
    background-color: #FFFFFF;
}
.cuantos{
	display: block;
	padding-top: 4px;
}
.formulario form{
	margin-top: 8px;
	float: left;
	border-right: 1px solid #808080;
	margin-right: 15px;
}
form.denom_personal{
	float: left;
	margin-left: 19%;
	border-left: 1px solid #808080;
	padding-left: 12px;
	border-right: none;
	width: initial;
	margin-top: -30px;
}
form.carga_dptos{
	float: right;
	margin-top: -30px;
	margin-right: 20%;
	border-left: 1px solid #808080;
	padding-left: 12px;
	border-right: none;
	width: initial;
}
.column_dibujo{
	float: right;
	width: 35%;
	min-height: 450px;
	padding-top: 20px;
	padding-left: 20px;
	background-color: #F7F7F7;
	-webkit-box-shadow: -3px 0px 11px 0px #E6E6E6;
	-moz-box-shadow:    -3px 0px 11px 0px #E6E6E6;
	box-shadow:         -3px 0px 11px 0px #E6E6E6;
}
.column_dibujo .ver_torre{
	text-transform: uppercase;
	color: #E68C28;
	width: 80px;
	height: 40px;
	float: left;
	border: 1px solid #E68C28;
	padding-left: 10px;
	padding-top: 9px;
}
.column_dibujo .ver_todas{
	text-transform: uppercase;
	color: #E68C28;
	float: right;
	margin-right: 30%;
}
#dib_edif{
	margin-bottom: 50px;
	min-height: 250px;
}
.encabezado_dibujo{
	float: left;
	width: 100%;
	margin-bottom: 20px;
	margin-left: 35px;
}
.mensaje{
	width: 90%;
	min-height: 350px;
	border: 1px dashed #808080;
	float: left;
	color: #808080;
	padding-top: 20px;
	padding-left: 20px;
}
#nombre_dpto, #denominacion_dpto{
	padding:5px;
	display: none;
}
.top_dialog header{
	background-color: #57ACCE;
	color: #F7F7F7;
	font-family: 'Helvetica Neue';
	height: 40px;
	font-size: 21px;
	padding-top: 9px;
	padding-left: 9px;
	margin-bottom: 10px;
}

.content_grey{
	background-color: #E6E6E6;
	margin-top: -10px;
	padding-top: 12px;
	overflow: auto;
}
.content_whitegrey{
	background-color: #F7F7F7;
	margin-top: -12px;
	padding-top: 14px;
	overflow: auto;
	width: 550px;
}
#ingr_pers_d2{
	display: none;
	width: 100px;
	margin-left: 400px;
}

.cerrar{
	width: 60px;
	float: right;
	min-height: 94px;
	background-color: #E6E6E6;
}
#checked{
	float: right;
	margin: auto;
	margin-right: 10px;
	margin-top: -55px;
	border: 3px solid #E68C28;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
}

/*Style Edificio*/
#dialog.demo{
	background-color: white;
}
#edificio.demo.columns{
	background-color: white;
}
.demo .gutter-large.columns .column{
	color:#CCCCCC;
}
.demo .gutter-large.columns .column.piso{
	margin:0;
	padding: 0;
}
.gutter-large .column.piso .column.dpto{
	margin: 0;
	padding: 0;
}
#edificio, #uf_cant, #pisos_num {
	padding: 0;
}
#dialog {
	padding-top: 0px;
}
#uf{
	width: 10%;
	float: left;
	display: none;
}
#uf.row.demo{
	margin-left: 0px;
}
#edif_dibujo{
	margin-left: 35px;
	width: 72%;
	float:left;
}
#numeracion{
	width: 10%;
	float: right;
	border: none;
}
/* Style pisos*/
@media only screen and (min-width: 768px) {
.dpto-12 {
    position: relative;
    width: 8.33333%; 
}
.dpto-11 {
    position: relative;
    width: 9.090909%; 
}
.dpto-10 {
    position: relative;
    width: 10%; 
}
.dpto-9 {
  position: relative;
  width: 11.11111%; 
}
.dpto-8{
  position: relative;
  width: 12.5%; 
}
.dpto-7 {
  position: relative;
  width: 14.28571%; 
}
.dpto-6 {
  position: relative;
  width: 16.66666%; 
}
.dpto-5 {
  position: relative;
  width: 20%; 
}
.dpto-4 {
  position: relative;
  width: 25%; 
}
.dpto-3 {
  position: relative;
  width: 33.33333%; 
}
.dpto-2 {
  position: relative;
  width: 50%; 
}
.dpto-1{
	position: relative;
	width: 100%;
}
.largo-total {
  position: relative;
  width: 100%; 
}
.vista_comercios {
	width: 80%;
	padding-left: 50px;
}
/*----------Iconos y Logos---------------------*/
.logo_com{
	width: 50px;
	height: 50px;
	float: left;
}
.logo_cc{
	width: 50px;
	height: 50px;
	float: left;
}
.logo_cd{
	width: 50px;
	height: 50px;
	float: left;
}
.logo_bau{
	width: 50px;
	height: 50px;
	float: left;
}
.icono_com{
	width: 20px;
	height: 20px;
	float: left;
}
.icono_cc{
	width: 20px;
	height: 20px;
	float: left;
}
.icono_dc{
	width: 20px;
	height: 20px;
	float: left;
}
.icono_bau{
	width: 20px;
	height: 20px;
	float: left;
}
}